
.medicine-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.medicine-form input {
  margin-bottom: 10px;
  padding: 5px;
}

.cart-container {
  margin-top: 20px;
}
.medicine-items{
  width: 2000px;
  font-size: 20px;
  word-spacing: 5px;

}

.cart {
  border: 1px solid #ccc;
  padding: 10px;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-item p {
  margin: 5px 0;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
 




body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #04033d;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn {
  background-color: white;
  border: 1px solid #ccc; /* Add border style */
  color: black;
  cursor: pointer;
  padding: 5px 10px; /* Add padding to match other buttons */
  position: absolute; /* Position the button absolutely */
  top: 35px; /* Adjust the top distance */
  right: 70px; /* Adjust the right distance */
}

.app {
  padding-top: 60px;
}

.container {
  width: 600px;
  margin: 70px auto 0 auto;
}

.app {
  /* Set background image */
  background-image: url('https://images.unsplash.com/photo-1587370560942-ad2a04eabb6d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1lZGljaW5lfGVufDB8fDB8fHww');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  /* Optionally, set additional styles */
  /* Example styles */
  /* color: white; */
  /* font-size: 24px; */
  /* padding: 20px; */
}
.end {
  background-image: url('https://cdn.dribbble.com/users/4104740/screenshots/14373303/media/5a40b284b738ebe0546190fcef5a8257.gif');
   height:550px
}
